<!-- # package count
# version count
# number of saved archives
# total size of saved archives -->
<h1 class="display-3">
  <span class='text-primary'><%= number_to_human Package.count, precision: 3 %></span> packages <%= link_to 'indexed', recent_packages_path %>
</h1>

<h1 class="display-3">
  <span class='text-success'><%= number_to_human Version.where(yanked:false).count, precision: 3 %></span> versions <%= link_to 'found', recent_versions_path %>
</h1>

<h1 class="display-4">
  <span class='text-danger'><%= number_to_human Archive.count, precision: 3 %></span> tarballs archived
</h1>

<h1 class="display-4">
  <span class='text-info'><%= number_to_human_size(Archive.sum(:size), precision: 4) %></span> from <span class='text-warning'><%= number_to_human(Archive.where.not(pin_id: nil).count, precision: 3) %></span> pins stored in <%= link_to 'IPFS', 'https://ipfs.io' %>
</h1>

<h1 class="display-4">
  <span class='text-info'><%= number_to_human_size(Archive.where(web3: true).sum(:size), precision: 4) %></span> from <span class='text-warning'><%= number_to_human(Archive.where(web3: true).count, precision: 3) %></span> releases in <%= link_to 'web3.storage', 'https://web3.storage/' %>
</h1>

<h1 class="display-4">
  <span class='text-info'><%= number_to_human_size(Archive.where(pin_status: 'pinned').sum(:size), precision: 4) %></span> from <span class='text-warning'><%= number_to_human(Archive.where(pin_status: 'pinned').count, precision: 3) %></span> releases in <%= link_to 'Estuary', 'https://estuary.tech' %>
</h1>

<h1 class="display-4">
  <span class='text-secondary'><%= number_to_human_size(Deal.aggregate.sum(:size), precision: 4) %></span> stored across <span class='text-secondary'><%= number_to_human(Deal.aggregate.count, precision: 3) %></span> Filecoin <%= link_to 'deals', deals_path %>
</h1>
