<h2>Stats</h2>
<p>
  <%= number_with_delimiter @without_archives %> versions without archives
</p>

<p>
  <%= number_with_delimiter @yanked %> yanked versions
</p>

<p>
  <%= number_with_delimiter @not_pinned %> archives not yet pinned to estuary
</p>

<p>
  <%= number_with_delimiter @not_pinned_web3 %> archives not yet pinned to web3
</p>

<h4>Pin statuses</h4>

<ul>
  <% @statuses.each do |status, count| %>
    <li>
      <%= number_with_delimiter count %> <%= status %> archives
    </li>
  <% end %>
</ul>
