<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= version.number %>
    </h5>
    <% archive = version.archives.first %>
    <small class='text-muted'>
      Published: <%= time_ago_in_words version.published_at %> ago
      <% if version.yanked? %>
        <span class="badge bg-danger text-light">Yanked</span>
      <% end %>
      <br/>
      <% if archive %>
        <% if archive.size %>
        Size: <%= number_to_human_size archive.size %><br/>
        <% end %>
        URL: <%= link_to archive.url, archive.url, target: :_blank %><br/>
        CID: <%= link_to archive.cid, "https://dweb.link/ipfs/#{archive.cid}?filename=#{archive.filename}", target: :_blank %>
        <% if archive.deal.present? %>
          <br/>Filecoin deal: <%= link_to archive.deal.cid, deal_path(archive.deal) %>
        <% end %>
        <% if archive.integrity.present? %>
        <br/>Integrity: <%= archive.integrity %>
        <% end %>
      <% end %>
    </small>
  </div>
</div>
