<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= archive.package.platform_name %> <%= link_to archive.package.name, archive.package.package_manager_url, target: :_blank %>@<%= archive.version.number %>
    </h5>
    <small class='text-muted'>
      Size: <%= number_to_human_size archive.size %><br/>
      CID: <%= link_to archive.cid, "https://dweb.link/ipfs/#{archive.cid}?filename=#{archive.filename}", target: :_blank %>
      <% if archive.integrity.present? %>
      <br/>Integrity: <%= archive.integrity %>
      <% end %>
    </small>
  </div>
</div>
