<!DOCTYPE html>
<html class='h-100'>
  <head>
    <title>
      <%= page_title %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= content_for :rss %>
  </head>

  <body class='d-flex flex-column h-100'>
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-md">
        <a class="navbar-brand" href="/">
          Forage
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if logged_in? %>
              <a class="nav-link" href='/admin'>
                Admin
              </a>
            <% end %>
          </ul>
        </div>

        <!-- <form class="form-inline" action="<%= search_packages_path %>">
          <input class="form-control mr-sm-2" name='query' type="search" placeholder="Package name.." aria-label="Search">
          <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="<%= bootstrap_class_for(key) %>">
            <%= value %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
    <footer class='footer mt-auto py-3'>

      <div class="container">
        <span class="text-muted">
          <%= link_to 'Feature requests and bug reports welcome', 'https://github.com/foragepm/forage-index', target: :_blank %>
        </span>
      </div>
    </footer>
  </body>
</html>
